GSTT.Hack/GSTT.Hack.LogicApps/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_outlook_name": {
            "defaultValue": "outlook",
            "type": "String"
        },
        "connections_servicebus_name": {
            "defaultValue": "servicebus",
            "type": "String"
        },
        "workflows_gstt_hack_document_arrival_la_name": {
            "defaultValue": "gstt-hack-document-arrival-la",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "comments": "Generalized from resource: '/subscriptions/ff227aef-bc76-42c9-8f51-87582b1e7732/resourceGroups/GSTT-Hack-LogicApp/providers/Microsoft.Logic/workflows/gstt-hack-document-arrival-la'.",
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('workflows_gstt_hack_document_arrival_la_name')]",
            "apiVersion": "2017-07-01",
            "location": "westeurope",
            "tags": {},
            "scale": null,
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_message_is_received_in_a_queue_(auto-complete)": {
                            "recurrence": {
                                "frequency": "Second",
                                "interval": 15
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus_1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/@{encodeURIComponent(encodeURIComponent('documentqueue'))}/messages/head",
                                "queries": {
                                    "queueType": "Main"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Send_an_email": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "A new document has been created.\n\nDetails:\n\n@{base64ToString(triggerBody()?['ContentData'])}\n\nEOM",
                                            "Subject": "GSTT-Hack | New Document Created",
                                            "To": "mattrdudley-training@outlook.com; cdutoitgstt@outlook.com; d_cunliffe_training@hotmail.com"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['outlook_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Mail"
                                    }
                                },
                                "Send_message": {
                                    "runAfter": {
                                        "Send_an_email": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "ContentData": "@{triggerBody()?['ContentData']}",
                                            "ContentType": "@triggerBody()?['ContentType']",
                                            "Properties": "@triggerBody()?['Properties']",
                                            "SessionId": "@triggerBody()?['SessionId']"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['servicebus_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/@{encodeURIComponent(encodeURIComponent('notificationtopic'))}/messages",
                                        "queries": {
                                            "systemProperties": "None"
                                        }
                                    }
                                }
                            },
                            "runAfter": {},
                            "else": {
                                "actions": {
                                    "Send_an_email_2": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "Body": "A new document was created, but did not meet the condition criteria.\n\nContent: @{base64ToString(triggerBody()?['ContentData'])}\nType: @{triggerBody()?['ContentType']}\n",
                                                "Subject": "GSTT Hack | New Document Created - but failed conditions",
                                                "To": "mattrdudley-training@outlook.com; d_cunliffe_training@hotmail.com"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['outlook_1']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/Mail"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@triggerBody()?['ContentData']",
                                            "tester"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "outlook_1": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_outlook_name'))]",
                                "connectionName": "outlook",
                                "id": "/subscriptions/ff227aef-bc76-42c9-8f51-87582b1e7732/providers/Microsoft.Web/locations/westeurope/managedApis/outlook"
                            },
                            "servicebus_1": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_servicebus_name'))]",
                                "connectionName": "servicebus",
                                "id": "/subscriptions/ff227aef-bc76-42c9-8f51-87582b1e7732/providers/Microsoft.Web/locations/westeurope/managedApis/servicebus"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_outlook_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_servicebus_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/ff227aef-bc76-42c9-8f51-87582b1e7732/resourceGroups/GSTT-Hack-LogicApp/providers/Microsoft.Web/connections/outlook'.",
            "type": "Microsoft.Web/connections",
            "name": "[parameters('connections_outlook_name')]",
            "apiVersion": "2016-06-01",
            "location": "westeurope",
            "scale": null,
            "properties": {
                "displayName": "[concat('mattrdudley-training@', parameters('connections_outlook_name'),'.com')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/ff227aef-bc76-42c9-8f51-87582b1e7732/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_outlook_name'))]"
                }
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/ff227aef-bc76-42c9-8f51-87582b1e7732/resourceGroups/GSTT-Hack-LogicApp/providers/Microsoft.Web/connections/servicebus'.",
            "type": "Microsoft.Web/connections",
            "name": "[parameters('connections_servicebus_name')]",
            "apiVersion": "2016-06-01",
            "location": "westeurope",
            "scale": null,
            "properties": {
                "displayName": "[parameters('connections_servicebus_name')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/ff227aef-bc76-42c9-8f51-87582b1e7732/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_servicebus_name'))]"
                }
            },
            "dependsOn": []
        }
    ]
}